.pageTitle {
    max-width: 200px;
}

.pageTitle {
    font-size: 18px;
    top: 150px;
    left: 15px;
}

.pageTitle {
    position: absolute;
    color: #5F6377;
    font-size: 24px;
    top: 10%;
    left: 10%;
}

.logoImage {
    position: absolute;
    right: 50px;
}

.logoImage {
    top: auto;
    left: 15px;
    width: 90px;
}

.error {
    position: absolute;
    color: red;
    padding-top: 160px;
    padding-left: 9.8%;
}

.success {
    position: absolute;
    color: green;
    padding-top: 160px;
    padding-left: 9.8%;
}

.formAdapterLessSpacing {
    min-height: 400px;
    padding-top: 180px;
    padding-left: 9%;
}

.formRow {
    flex-direction: column;
    max-width: 80%;
}

.formRow {
    display: flex;
    flex-direction: row;
    max-width: 80%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 12px;
    flex: 1;
}

.inputLabel {
    color: #5F6377;
    margin-bottom: 6px;
}

.inputLabel {
    font-size: 14px;
}

.formSelectInput {
    padding: 10px;
    color: #5F6377;
}

.input {
    height: 32px;
}

.buttonAdapter {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 80%;
}

.buttonAdapter {
    margin-left: 15px;
}

.button {
    border-radius: 30px;
    background-color:rgb(168, 48, 152)9A8;
    padding: 1px 5px;
    width: 146px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s;
}


.button:hover {opacity: 1}

.buttonText {
    color: white;
    text-align: center;
    font-size: 18px;
}

