.error {
    position: absolute;
    color: red;
    padding-top: 160px;
    padding-left: 9.8%;
}

.success {
    position: absolute;
    color: green;
    padding-top: 160px;
    padding-left: 9.8%;
}

.container {
    display: flex;
    flex-direction: row;
    /*padding: 0px 2%;*/
    background-color: rgb(209, 206, 206, 0.31);
}




.previewImageAdapter{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    
}

.previewImage {
    width: 100%;
    /*max-width: 800px;*/
}

.pageTitle {
    color: #1E78E0;
    font-size: 30px;
    font-family:'Montserrat', sans-serif ;
   /* position: absolute;*/
    /*top: 10%;
    left: 10%;*/
    padding-left: 90px;
    padding-top: 120px;
    margin-bottom: 50px;
}

.formAdapter {
    
    min-height: 400px;
   /* padding-top: 150px;*/
    padding-left: 80px;
    
}

.formRow {
    display: flex;
    flex-direction: row;
    max-width: 80%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 12px;
    flex: 1;
}


.inputLabel {
    color: #5F6377;
    margin-bottom: 6px;
    
}

.inputLabel {
    font-size: 18px;
    max-width: 400px;
}

.buttonAdapter {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 80%;
}

.button, input[type="submit"], input[type="reset"] {
	/*background:none;*/
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button:hover {opacity: 1}

.button-disabled {
    border-radius: 30px;
    background: #E5E5E5;
    padding: 1px 5px;
    width: 146px;
    cursor: not-allowed;
}

.button{
    border-radius: 5px;
    width: 110px;
    background: #1E78E0;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 35px;
    
}

.buttonText{
   text-align: center;
   padding-top: 3px;
   color: white;
   
}