/*.container {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 233, 233);
    padding: 0px;
}
*/

.container {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: white;
    justify-content: center;
}

.container-login{
    position: relative;

}

.loginTextGestao{
    position: absolute;
    text-align: center;
    padding: 110px;
    color: white;
    font-size: 30px;
    font-family:'Montserrat', sans-serif ;
}

/*.previewImageAdapter {
    display: none;
}*/

.previewImageAdapter {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.previewImage {
    width: 100%;
   max-width: 1220px;
   /* max-height: 500px;*/
}

/*.loginContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
}*/



.loginTitle {
    color: #3059A8;
    font-size: 25px;
    text-align: center;
    font-family:'Montserrat', sans-serif ;
}

.loginForm {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    
}

.inputLabel {
    font-size: 20px;
}

.inputLabel {
    color: #4c5792;
    margin-bottom: 6px;
}

.input {
    height: 32px;
}



.buttonLoginAdapter {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin-top: 20px;
}

.button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



.button {
    border-radius: 5px;
    background-color:#1E78E0;
    padding: 1px 5px;
    width: 148px;
    height: 35px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s;
}


.button:hover {opacity: 1}



.buttonText {
    color:white;
    text-align: center;
    font-size: 18px;
    
}

@media (max-width: 960px) {
    .menuItemsContainer {
        min-width: auto;
    }
}

/* Mobile */

@media (max-width: 880px) {

    .formAdapterLessSpacing {
        padding-top: 250px;
    }
    
    .errorLessSpacing {
        padding-top: 150px;
    }

    .successLessSpacing {
        padding-top: 150px;
    }

    .formAdapter {
        padding-top: 295px;
    }

    .error {
        padding-top: 196px;
        max-width: 300px;
    }

    .pageTitle {
        max-width: 200px;
    }

    .menuItemsContainer {
        min-width: auto;
    }

    .container {
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 0px;
    }

    .loginForm {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
    }

    .logoutContainer {
        right: 20px;
        top: 20px;
        font-size: 13px;
    }

    .menuContainer {
        width: 80%;
    }

    .menuTitle {
        font-size: 20px;
        margin-top: 50px;
    }

    .menuItem  {
        width: 90%;
    }

    .menuItemText {
        max-width: 80px;
        font-size: 17px;
    }

    .previewImageAdapter {
        display: none;
    }

    .formAdapter {
        padding-left: 9%;
    }

    .formRow {
        flex-direction: column;
        max-width: 80%;
    }

    .inputLabel {
        font-size: 14px;
    }

    .buttonText {
        font-size: 14px;
    }

    .footerImageLeft {
        display: none;
    }

    .footerImageRight {
        display: none;
    }

}

@media (max-width: 1399px) {

    .logoImageList {
        display: none;
    }

    .table {
        max-width: 95%;
    }

}

@media (max-width: 1180px) {

    .logoImageList {
        display: block;
    }

    .filterFormAdapter {
        flex-direction: column;
    }

    .filterContainer {
        margin-top: 20px;
    }

    .buttonFilterAdapter {
        margin-top: 25px;
        margin-left: 10%;
    }

    .footerImageLeftListAdapter {
        display: none;
    }

    .footerImageRightListAdapter {
        display: none;
    }

    .paginationAdapter {
        margin-bottom: 20px;
    }

    .backButtonAdapter {
        margin-bottom: 80px;
    }

}

@media (max-width: 650px) {

    .logoImageList {
        display: none;
    }

}

@media (max-width: 450px) {

    .errorLessSpacing {
        padding-top: 200px;
    }

    .successLessSpacing {
        padding-top: 200px;
    }

    .menuItemsContainer {
        margin-bottom: 300px;
    }

    .pageTitle {
        font-size: 18px;
        top: 150px;
        left: 15px;
    }

    .tableTh {
        font-size: 11px;
    }

    .tableTd {
        font-size: 10px;
    }

    .logoImageList {
        display: block;
        top: 20px;
        left: 15px;
        width: 90px;
    }

    .logoImage {
        top: auto;
        left: 15px;
        width: 90px;
    }

    .pageSubtitle {
        position: absolute;
        left: 15px;
        top: 150px;
        font-size: 18px;
    }

    .filterContainer {
        margin-left: 15px;
    }

    .buttonFilterAdapter {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .selectInput {
        width: 95%;
    }

    .tableAdapter {
        margin-left: 15px;
    }

    .buttonAdapter {
        margin-left: 15px;
    }

}

@media (max-height: 731px) {

        .footerImageLeft {
            display: none;
        }
    
        .footerImageRight {
            display: none;
        }
}




