.pageTitle {
    max-width: 200px;
}

.pageTitle {
    font-size: 18px;
    top: 150px;
    left: 15px;
}

.pageTitle {
    position: absolute;
    color: #5F6377;
    font-size: 24px;
    top: 10%;
    left: 10%;
}

.logoImageList {
    position: absolute;
    right: 50px;
    top: 20px;
}



.error {
    padding-top: 196px;
    max-width: 300px;
}

.error {
    position: absolute;
    color: red;
    padding-top: 160px;
    padding-left: 9.8%;
}

.filterFormAdapter {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.filterTitle {
    color: #5F6377;
    font-size: 18px;
    margin: 0px 0px 8px 0px;
}

.selectInput {
    width: 346px;
    padding: 10px;
    color: #5F6377;
}

.buttonFilterAdapter {
    margin-left: 80px;
    margin-top: 5px;
}


.button {
    border-radius: 30px;
    background-color:rgb(168, 48, 152)9A8;
    padding: 1px 5px;
    width: 146px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s;
}


.button:hover {opacity: 1}

.buttonText {
    color: white;
    text-align: center;
    font-size: 18px;
}

.button:hover {opacity: 1}

.button-disabled {
    border-radius: 30px;
    background: #E5E5E5;
    padding: 1px 5px;
    width: 146px;
    cursor: not-allowed;
}

.buttonText {
    color: white;
    text-align: center;
    font-size: 18px;
}

.tableAdapter {
    margin-left: 10%;
    margin-top: 70px;
}

.tableTitleAdapter {
    margin-bottom: 24px;
}

.tableTitle {
    color: #5F6377;
    font-size: 16px;
    font-weight: bold;
}

.table {
    text-align: left;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.tableTh {
    border: 1px solid #E7E7ED;
    color: #5F6377;
    font-size: 14px;
    margin: 0;
    padding: 12px;
    width: 273px;
}

.tableTr {
    cursor: pointer;
}

.tableTr:hover {background-color: #E7E7ED;}

.tableTd {
    color: #5F6377;
    font-size: 13px;
    border: 1px solid #E7E7ED;
    margin: 0;
    padding: 12px;
}

.paginationAdapter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.paginationButton {
    background: #5F6377;
    border-radius: 4px;
    padding: 10px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.paginationButtonText {
    color: #FFFFFF;
}

.paginationCurrentPageTextAdapter {
    border: 1px solid #5F637780;
    margin: 0px 8px;
    width: 39px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.paginationCurrentPageText {
    color: #5F6377;
    padding: 10px
}

.backButtonAdapter {
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #5F6377;
    cursor: pointer;
}

.footerAdapter {
    position: fixed;
    bottom: -10px;
    width: 100%;
    z-index: -1;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
}
