.container {
    display: flex;
    flex-direction: row;
    padding: 0px 2%;
    background-color: rgb(209, 206, 206, 0.31);
}

.previewImageAdapter {
    display: none;
}

.previewImageAdapter {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.previewImage {
    width: 100%;
    max-width: 600px;
}

.menuContainer {
    width: 80%;
}

.menuTitle {
    font-size: 20px;
    margin-top: 50px;
}

.menuTitle {
    color: #3059A8;
    font-size: 25px;
    text-align: center;
}
